
    <%- include("header") -%>

        <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>
    <div class="container-fluid box">
    <div class="row">
    
    <% newListItems.forEach(function(item) { %>
        <div class="form-group">
        <form action="delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
                <p> <%= item.name %></p>
            </div>
            <input type="hidden" name="listName" value="<%= listTitle %>"></input>
        </form>    
    <% }) %>
        <form class="item" action="/" method="post">
            <input class="form-control mr-sm-2" type="text" minlength="3" maxlength="36" name="newItem" placeholder="New Item" autocomplete="off" required>
            <button class="btn" type="submit" name="list" value="<%= listTitle %>">Add Reminder</button></button> </form>
    </div>

    </div>
    <%- include("footer") -%>
    </div>
